Sium/Service References/ELangWebService/goex.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="HelloBool">
        <s:complexType />
      </s:element>
      <s:element name="HelloBoolResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="HelloBoolResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="stringJson">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Jjson" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="stringJsonResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="stringJsonResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="HelloBoolSoapIn">
    <wsdl:part name="parameters" element="tns:HelloBool" />
  </wsdl:message>
  <wsdl:message name="HelloBoolSoapOut">
    <wsdl:part name="parameters" element="tns:HelloBoolResponse" />
  </wsdl:message>
  <wsdl:message name="stringJsonSoapIn">
    <wsdl:part name="parameters" element="tns:stringJson" />
  </wsdl:message>
  <wsdl:message name="stringJsonSoapOut">
    <wsdl:part name="parameters" element="tns:stringJsonResponse" />
  </wsdl:message>
  <wsdl:portType name="GoEXSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="HelloBool">
      <wsdl:input message="tns:HelloBoolSoapIn" />
      <wsdl:output message="tns:HelloBoolSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="stringJson">
      <wsdl:input message="tns:stringJsonSoapIn" />
      <wsdl:output message="tns:stringJsonSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="GoEXSoap" type="tns:GoEXSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HelloBool">
      <soap:operation soapAction="http://tempuri.org/HelloBool" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="stringJson">
      <soap:operation soapAction="http://tempuri.org/stringJson" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="GoEXSoap12" type="tns:GoEXSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HelloBool">
      <soap12:operation soapAction="http://tempuri.org/HelloBool" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="stringJson">
      <soap12:operation soapAction="http://tempuri.org/stringJson" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="GoEX">
    <wsdl:port name="GoEXSoap" binding="tns:GoEXSoap">
      <soap:address location="http://www.syruq.cn/goex.asmx" />
    </wsdl:port>
    <wsdl:port name="GoEXSoap12" binding="tns:GoEXSoap12">
      <soap12:address location="http://www.syruq.cn/goex.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>